@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@media (max-width: 978px) {
  .header__burger {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
  }
  .header__burger span {
    display: block;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
  }
  .header__burger.is-active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .header__burger.is-active span:nth-child(2) {
    opacity: 0;
  }
  .header__burger.is-active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .header__burger.is-active span {
    transition: all 0.3s ease;
  }
  .header__nav {
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(16, 16, 29, 0.8980392157);
    padding: 20px;
    display: none;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .header__nav.is-open {
    display: flex;
  }
  .hero {
    background-position: 50% 0% !important;
  }
  .hero__highlight {
    font-size: calc(20px + 24.4 * (100vw - 320px) / 1280) !important;
    line-height: 40px !important;
    margin: 0 !important;
  }
  .order__form-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .order__range {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .order__field--range {
    flex: 1 1 85% !important;
  }
  .order__field--range div span {
    font-size: 10px !important;
  }
  .order__field--range div span:nth-child(1) {
    max-width: 80%;
    text-align: left;
  }
  .order__file span {
    font-size: 12px !important;
  }
  .order__submit {
    padding: 12px 24px !important;
  }
}
@media screen and (max-width: 1200px) {
  .footer__container {
    flex-direction: column;
    gap: 20px;
  }
  .footer__copyright {
    padding-right: 0 !important;
    border-right: none !important;
  }
  .footer__payments {
    gap: 20px;
  }
  .footer__payments::after {
    display: none !important;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.header {
  position: sticky;
  top: 0;
  background-color: rgba(16, 16, 29, 0.8980392157);
  z-index: 1000;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header__burger {
  display: none;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}
.header__logo span {
  color: #2196f3;
}
.header__nav {
  display: flex;
  gap: 60px;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
@media (max-width: 978px) {
  .header__nav {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
  }
  .header__nav--open {
    display: flex;
  }
}
.header__link {
  color: #FEFEFE;
  text-decoration: none;
  font-weight: 500;
  font-weight: 600;
  font-size: 13px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
  transition: color 0.3s;
}
.header__link--active, .header__link:hover {
  color: #2196f3;
}

.hero {
  padding: 100px 20px;
  box-sizing: border-box;
  background: url("../assets/image/hero-img.jpg") no-repeat center/cover;
  height: 850px;
}
.hero__content {
  max-width: 1200px;
  margin: 0 auto;
}
.hero__title {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}
.hero__highlight {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
}
.hero__highlight span {
  color: #2196f3;
}
.hero__list-title {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  margin-top: 80px;
}
.hero__list {
  list-style: none;
  color: #000000;
  text-align: left;
  max-width: 480px;
  font-weight: 400;
  font-size: 20px;
}
.hero__list li {
  margin-bottom: 8px;
}
.hero__list li::before {
  content: "-";
  margin-right: 10px;
}
.hero__buttons {
  margin-top: 80px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.hero__btn {
  width: 120px;
  border: 1px solid #2196f3;
}
.hero__btn--primary {
  background-color: #2196f3;
  color: white;
}
.hero__btn:hover {
  opacity: 0.9;
}

.order {
  padding: 120px 0 150px 0;
  background: #272733 url("../assets/image/order-section.png") no-repeat center/cover;
  color: #fff;
  text-align: center;
}
.order__title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.order__title span {
  color: #2196f3;
}
.order__subtitle {
  color: #999;
  margin-bottom: 30px;
}
.order__steps {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}
.order__step {
  max-width: 160px;
  text-align: center;
}
.order__step p {
  margin-top: 10px;
  font-size: 0.9rem;
}
.order__form {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}
.order__form-wrapper {
  display: flex;
  flex: 1 1 100%;
  gap: 15px;
  width: 100%;
}
.order__field {
  flex: 1 1 100%;
}
@media (min-width: 480px) {
  .order__field {
    flex: 1 1 45%;
  }
}
.order__field--range {
  flex: 2 1 92%;
  margin-right: 10px;
}
.order__field--range input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #ccc;
  border-radius: 3px;
  outline: none;
  margin: 0 10px;
}
.order__field--range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #2196f3;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
.order__field--range input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #2196f3;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
.order__range {
  flex: 1 1 100%;
}
.order__range div {
  display: flex;
  justify-content: space-between;
}
.order__range div span {
  font-weight: 400;
  font-size: 18px;
}
.order__range span {
  display: block;
  margin-top: 5px;
}
.order__file {
  background-color: #fefefe;
  color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 20px;
  border-radius: 7px;
}
.order__file::before {
  content: url("../assets/icons/file-icon.svg");
  margin-right: 10px;
}
.order__file input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  font-size: 999px;
  cursor: pointer;
}
.order__submit {
  background: #2196f3;
  color: white;
  margin-top: 20px;
  padding: 12px 140px;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s;
}
.order__submit:hover {
  background: rgb(11.5384615385, 124.0384615385, 213.4615384615);
}

.footer {
  background: #3D4050;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 0.85rem;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.footer__copyright {
  display: flex;
  align-items: center;
  height: 40px;
  padding-right: 40px;
  border-right: #C3C3C3 1px solid;
}
.footer__payments {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #C3C3C3;
  gap: 40px;
}
.footer__payments div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__payments img {
  height: 24px;
}
.footer__payments::after {
  content: "";
  flex: auto;
  border-right: #C3C3C3 1px solid;
}
.footer__contacts {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.footer__contacts a {
  color: #FEFEFE;
  margin: 0 10px;
  text-decoration: none;
}
.footer__contacts a img {
  margin-right: 10px;
}
.footer__contacts a:hover {
  color: #2196f3;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: #272733;
  color: #FEFEFE;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  transition: 0.3s;
}

img {
  max-width: 100%;
  height: auto;
}

select,
input[type=email],
input[type=text] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=range] {
  width: 100%;
}

.icon--circle {
  width: 50px;
  height: 50px;
  background: #2196f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.icon--circle img {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=main.css.map */
